
.DonateBanner {
    max-width: 100%;
    height: 200px;
    display: block;
    background-image: linear-gradient(0deg, rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)), url(https://scontent-ord5-2.xx.fbcdn.net/v/t1.6435-9/66586614_2335688106697123_8324826026257416192_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=E73HB0GNyXIAX_C59ui&_nc_ht=scontent-ord5-2.xx&oh=00_AfDZYqtWYDuf6BflzenHytrxis1VXhc4Qy33K4yFh8yhVw&oe=64604929);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    padding: 2em;
}

.DonateBanner h1{
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: left;
    text-shadow: 5px 5px 5px black;
}


.DonateTextDiv{
    width: 80%;
    margin: auto;
    padding: 3em;
    margin-top: 3em;
    border: 3px solid #f1f1f1;
}

.DonateTextDiv h1{
    color: rgb(0, 74, 173);
    text-align: left;
    font-weight: bold;
    font-size: 35px;

}

.DonateTextDiv h2{
    color: grey;
    text-align: left;
    margin: 0;
    font-size: 30px;
}

.PayPalDiv{
    height: 140px;
    width: 350px;
    margin: 1rem;
    margin-bottom: 5rem;
    border: 1px solid rgb(0, 74, 173) ;
}